@page "/currency-detail/{code}"

@using ExchangeRatesApp.Client.Data;
@using ExchangeRatesApp.Client.Services;
@using ExchangeRatesApp.Models;
@using ExchangeRatesApp.Models.RatesChooseDate;

@inject CurrencyDataService currencyDataService
@inject ICurrencyService CurrencyService
@inject NavigationManager NavigationManager

<h3>Currency Detail - @Code</h3>

@if (ExchangeRate != null)
{
    <ApexChart TItem="ExchangeRate"
               Title="Historia Kursu"
               Options="@options">

        <ApexPointSeries TItem="ExchangeRate"
                         Items="ExchangeRate.Rates"
                         Name="Kurs średni"
                         SeriesType="SeriesType.Line"
                         XValue="rate => rate.EffectiveDate"
                         YValue="rate => rate.Mid" />
    </ApexChart>

    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(1)">1M</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(3)">3M</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(6)">6M</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(12)">1R</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(60)">5R</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="()=>LoadExchangeRatesForPeriod(0)">MAX</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="LoadExchangeRatesForCustomPeriod">
        <MudDatePicker Label="WŁASNY" DisplayMonths="2" TitleDateFormat="dddd, dd MMMM" @bind-Date="date" />
    </MudButton>

    <div>
        <h4>@ExchangeRate.Currency</h4>
        <p>Code: @ExchangeRate.Code</p>
        <p>Table: @ExchangeRate.Table</p>
        <p>Rates:</p>
        <ul>
            @foreach (var rate in ExchangeRate.Rates)
            {
                <li>No: @rate.No, Date: @rate.EffectiveDate, Mid: @rate.Mid</li>
            }
        </ul>
    </div>
}
else
{
    <p>Exchange rate not found for code: @Code</p>
}


@code {
    [Parameter]
    public string Code { get; set; }

    private ExchangeRatesSeries ExchangeRate { get; set; }
    private string SelectedPeriod { get; set; } = "1M";
    private DateTime? date { get; set; }
    private ApexChartOptions<ExchangeRate> options;

    protected override async Task OnInitializedAsync()
    {
        await LoadExchangeRate();
    }

    private async Task LoadExchangeRate()
    {
        var topCount = 10; // Dostosuj ilość wpisów, jeśli to konieczne

        ExchangeRate = await currencyDataService.GetLastXCurrencies(Code, topCount);


        options = new ApexChartOptions<ExchangeRate>
        {
            Chart = new Chart
            {
                Height = 500,
                Width = 1000
            }
        };
    }
}

