@page "/currency-profit"

@using ExchangeRatesApp.Client.Helpers;
@using ExchangeRatesApp.Models.RatesChooseDate;
@using Serilog;
@using ExchangeRatesApp.Client.Data;
@using ExchangeRatesApp.Client.Services;
@using ExchangeRatesApp.Models;
@using MudBlazor
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size

@inject ICurrencyService CurrencyService
@inject CurrencyDataService currencyDataService

<MudSelect Class="d-flex align-left justify-center" FullWidth="false" MultiSelection="true" @bind-Value="@value" @bind-SelectedValues="options" Label="Waluta" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
    @if (Rates != null)
    {
        foreach (var rate in Rates)
        {
            <MudSelectItem Value="@rate.Code">
                <img src="/images/flags/@CurrencyHelper.GetFlagImageName(rate.Code)" height="24" class="mr-1" /> @($"{rate.Code} - {rate.Currency}")
            </MudSelectItem>
        }
    }
</MudSelect> 


<MudNumericField Label="Wartość zakupu" @bind-Value="purchaseValue" />

<MudDatePicker Label="Data zakupu" @bind-Date="purchaseDate" />

<MudButton OnClick="@CalculateProfit">Oblicz Zysk/Stratę</MudButton>

<MudGrid Class="mt-6 px-4">
    <MudItem xs="6">
        <MudText Typo="Typo.subtitle2">Waluty:</MudText>
        <MudText Typo="Typo.subtitle2">"</MudText>
        <MudText Typo="Typo.body2" Class="pl-4">@value</MudText>
        <MudText Typo="Typo.subtitle2">"</MudText>
    </MudItem>
    <MudItem xs="6">
        <MudText Typo="Typo.subtitle2">Wybrane waluty: HashSet&lt;string&gt;</MudText>
        <MudText Typo="Typo.subtitle2">{</MudText>
        @foreach (var selectedCurrency in options)
        {
            var rate = Rates.FirstOrDefault(r => r.Code == selectedCurrency);
            if (rate != null)
            {
                <MudText Typo="Typo.body2" Class="pl-4">
                    <img src="/images/flags/@CurrencyHelper.GetFlagImageName(rate.Code)" height="24" class="mr-1" />@($"\"{rate.Code} - {rate.Currency}\"")
                </MudText>

                <MudDatePicker Label="Data zakupu"/>

                <MudNumericField Label="Wartość zakupu" @bind-Value="purchaseValue" />
            }
        }
        <MudText Typo="Typo.subtitle2">}</MudText>
    </MudItem>
</MudGrid>

<p>
    @if (profitCalculated)
    {
        <strong>Zysk/Strata:</strong> @profit
    }
</p>

@code {
    private bool multiselectionTextChoice;
    private string value { get; set; } = "Brak wybranych walut";
    private IEnumerable<string> options { get; set; } = new HashSet<string>();

    DateTime? purchaseDate = DateTime.Today;
    decimal purchaseValue = 0;
    private decimal profit = 0;

    private List<Rate> Rates = new List<Rate>();
    private List<Rate> selectedCurrencies = new List<Rate>();

    private bool profitCalculated = false;

    private Dictionary<string, DateTime?> purchaseDates = new Dictionary<string, DateTime?>();
    private Dictionary<string, decimal> purchaseValues = new Dictionary<string, decimal>();

    protected override async Task OnInitializedAsync()
    {
        Rates = await CurrencyService.GetAllRatesFromAllTables();
    }

    public async Task CalculateProfit()
    {
        if (selectedCurrencies.Any())
        {
            foreach (var selectedCurrency in selectedCurrencies)
            {
                var exchangeRates = await currencyDataService.GetExchangeRatesOnDate(selectedCurrency.Code, purchaseDate.Value);

                if (exchangeRates != null && exchangeRates.Rates.Any())
                {
                    var selectedCurrencyRate = exchangeRates.Rates.First();

                    decimal purchaseValueInSelectedCurrency = purchaseValue / selectedCurrencyRate.Mid;
                    profit += (purchaseValueInSelectedCurrency * selectedCurrencyRate.Mid) - purchaseValue;
                }
                else
                {
                    // Obsługa błędu - brak kursu dla wybranej waluty na wybraną datę
                }
            }

            profitCalculated = true;
        }
        else
        {
            // Obsługa błędu - brak wybranych walut
        }
    }
}
}
