@page "/currency-converter"

@using Serilog
@using CurrencyApplication.Client.Services
@using CurrencyApplication.Client.Helpers
@using CurrencyApplication.Models
@using Color = MudBlazor.Color;

@inject ICurrencyService CurrencyService

<h3>Konwerter Walutowy</h3>

<MudContainer>
    <MudItem Class="mb-8" xs="6">
        <MudSelect FullWidth="false" @bind-Value="@sourceCurrencyCode" Label="Z waluty" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" TextChanged="ClearResult" OnClearButtonClick="ClearResult" Clearable>
            @if (uniqueCurrencies != null)
            {
                foreach (var currency in uniqueCurrencies)
                {
                    <MudSelectItem Value="@currency.Code">
                        <img src="/images/flags/@CurrencyHelper.GetFlagImageName(currency.Code)" height="24" class="mr-1" /> @($"{currency.Code} - {currency.Currency}")
                    </MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>

    <MudItem Class="mb-8" xs="6">
        <MudNumericField @bind-Value="amountToConvert" Label="Wprowadź wartość" Variant="Variant.Outlined" RequiredError="Wprowadź warość" Pattern="[0-9]" TextChanged="ConvertCurrency" @oninput="ConvertCurrency" Clearable/>
    </MudItem>

    <MudItem Class="mb-8" xs="6">
        <MudSelect FullWidth="false" @bind-Value="@targetCurrencyCode" Label="Na walute" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter" TextChanged="ClearResult" OnClearButtonClick="ClearResult" Clearable>
            @if (uniqueCurrencies != null)
            {
                foreach (var currency in uniqueCurrencies)
                {
                    <MudSelectItem Value="@currency.Code">
                        <img src="/images/flags/@CurrencyHelper.GetFlagImageName(currency.Code)" height="24" class="mr-1" /> @($"{currency.Code} - {currency.Currency}")
                    </MudSelectItem>
                }
            }
        </MudSelect>
    </MudItem>

    <MudItem xs="6" Class="d-flex align-center justify-center mb-8 ">
        <MudButton Class="d-flex align-center justify-center" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.SwapHoriz" Color="Color.Primary" OnClick="SwapCurrencies">Zamień</MudButton>
    </MudItem>

    <MudItem xs="6" Class="d-flex align-center justify-center mb-8 ">
        <MudButton Class="d-flex align-center justify-center" Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Calculate" Color="Color.Primary" OnClick="ConvertCurrency">Przewalutuj</MudButton>
    </MudItem>

    <MudItem xs="6" Class="d-flex align-center justify-center mb-8 ">
        @if (showResult)
        {
            <MudPaper>
                <div style="font-size: 24px;">
                    @if (sourceCurrencyCode != null && amountToConvert !=0 && targetCurrencyCode != null)
                    {
                        <img src="/images/flags/@CurrencyHelper.GetFlagImageName(sourceCurrencyCode)" height="24" class="mr-1" />
                        <span >@result</span>
                        <img src="/images/flags/@CurrencyHelper.GetFlagImageName(targetCurrencyCode)" height="24" class="mr-1" />
                    }
                </div>
            </MudPaper>
        }
    </MudItem>
</MudContainer>
