@page "/currency-profit"

@using CurrencyApplication.Client.Helpers;
@using Serilog;
@using CurrencyApplication.Client.Data;
@using CurrencyApplication.Client.Services;
@using CurrencyApplication.Models;
@using MudBlazor
@using Color = MudBlazor.Color
@using Size = MudBlazor.Size

@inject ICurrencyService CurrencyService

<h3>Inwestycje Walutowe</h3>
<MudItem xs="4">
    <MudSelect Class="d-flex align-left justify-center" 
               FullWidth="false" 
               MultiSelection="true" 
               @bind-SelectedValues="selectedRates" 
               Label="Wybierz waluty" 
               Variant="Variant.Outlined" 
               Clearable="true" 
               AnchorOrigin="Origin.BottomCenter">

        @if (Rates != null)
        {
            foreach (var rate in Rates)
            {
                <MudSelectItem Value="@rate.Code">
                    <img src="/images/flags/@CurrencyHelper.GetFlagImageName(rate.Code)" height="24" class="mr-1" /> @($"{rate.Code} - {rate.Currency}")
                </MudSelectItem>
            }
        }
    </MudSelect> 
</MudItem>

<MudGrid Class="mt-6 px-4">
    <MudItem xs="6">
        <MudText Typo="Typo.subtitle2">Wybrane waluty:</MudText>
        @foreach (var selectedCurrency in selectedRates)
        {
            var rate = Rates.FirstOrDefault(r => r.Code == selectedCurrency);
            if (rate != null)
            {
                if (!selectedCurrencyPurchaseDate.ContainsKey(selectedCurrency))
                {
                    selectedCurrencyPurchaseDate[selectedCurrency] = null;
                    selectedCurrencyPurchaseValue[selectedCurrency] = 0;
                }
                <MudItem Class="mb-16">
                    <MudItem Style="display:flex">
                        <img src="/images/flags/@CurrencyHelper.GetFlagImageName(rate.Code)" height="24" class="mr-1" />
                        <MudText Typo="Typo.body2" Class="pl-1">@($"{rate.Code} - {rate.Currency}")</MudText>
                    </MudItem>
                    <MudItem xs="6">
                        <MudDatePicker Label="Data zakupu"
                                         Clearable
                                         IsDateDisabledFunc="@FutureDate"
                                         @bind-Date="@selectedCurrencyPurchaseDate[selectedCurrency]" />
                        <MudNumericField Label="Wartość zakupu (PLN)" 
                                         @bind-Value="@selectedCurrencyPurchaseValue[selectedCurrency]" Pattern="[0-9]" Clearable/>
                    </MudItem>
                     <MudText Class="d-flex align-start flex-grow-1 gap-4" xs="6">
                        @if (profitCalculated)
                        {
                            @if (profits.ContainsKey(selectedCurrency))
                            {
                                @if (selectedCurrencyPurchaseDate[selectedCurrency] == null)
                                {
                                    @if (!string.IsNullOrEmpty(errorMessage))
                                    {
                                        <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
                                    }
                                }

                                else if (profits[selectedCurrency] >= 0)
                                {
                                    <MudAlert Severity="Severity.Success">Zysk: @Math.Round(profits[selectedCurrency], 2)</MudAlert>
                                }
                                else
                                {
                                    <MudAlert Severity="Severity.Error">Strata: @Math.Round(profits[selectedCurrency], 2)</MudAlert>
                                }  
                            }
                        }
                    </MudText>
                </MudItem>
            }
        }
    </MudItem>
</MudGrid>

<MudItem xs="12" Class="d-flex align-center">
    <MudButton Variant="Variant.Filled" EndIcon="@Icons.Material.Filled.Wallet" Color="Color.Primary" OnClick="@CalculateProfit">Oblicz Zysk/Stratę</MudButton>
</MudItem>

<MudText Class="d-flex align-start flex-grow-1 gap-4" xs="6">
    @if (!string.IsNullOrEmpty(errorMessage))
    {
        <MudAlert Severity="Severity.Error">@errorMessage</MudAlert>
    }
    else if (profitCalculated && profits.Any())
    {
            @if (totalProfit >= 0)
            {
                <MudAlert Severity="Severity.Success">Całkowity zysk: @totalProfit</MudAlert>
            }
            else
            {
                <MudAlert Severity="Severity.Error">Całkowita strata: @totalProfit</MudAlert>
            }    
    }
</MudText>
